* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Neue Machina";
  src: url("assets/fonts/NeueMachina-Regular.otf");
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 1.5px solid white;
  border-radius: 10px;
  max-width: 800px;
  margin: 4rem auto 0 auto;
}

.main::before {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-image: url("assets/img/background.svg");
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0;
    border: none;
  }
}
